!!! 5
html(lang='en')
    head
        title MyApp
        link(rel='stylesheet', href='/app.css')
        meta(charset='utf-8')
    body
        .container
            .navbar
                a.navbar-brand(href='/') MyApp

        main.container
            h1 MyApp Header

        script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-cookies.js')
